body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}

.header{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: rgb(95, 19, 29);
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.main_content{
    margin-top: 30px;
    margin: 30px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img{
    border-radius: 6px;
}

.txt{
    color: crimson;
}